{% extends "base_public.html" %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}


  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <div class="row g-3 align-items-center">
        <div class="col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label for="id_username" class="input-group-text">Username</label>
                </div>
                <input type="text" class="form-control" id="id_username" name="username">
            </div>
        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label for="id_password"
                           class="input-group-text">Password</label>
                </div>
                <input type="password" class="form-control" id="id_password"
                       name="password">
            </div>
        </div>
    </div>
    <div class="row g-3 justify-content-between align-items-center">
        {# Assumes you setup the password_reset view in your URLconf #}
        <a class="col-auto" href="{% url 'password_reset' %}">Lost
            password?</a>
        <div class="col-auto">
            <input class="col-auto btn btn-primary" type="submit" value="login" />
        </div>
    </div>

    <input type="hidden" name="next" value="{{ next }}" />
  </form>
      

{% endblock %}
