{% extends "base_public.html" %}

{% block head %}
{% load static %}

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

{% endblock %}


{% block content %}

<script>
  let socket;
  let protocol = window.location.protocol === "https:" ? "wss://" : "ws://";
  let prefix = protocol + window.location.host + "/ws/snake/";
  connect();

  function receiveMessage(msg) {
    console.log(msg);
  }
  
  function connect() {
    socket = new WebSocket(prefix + "connect/")
    socket.addEventListener('message', receiveMessage);
  }

  function send(dir) {
    socket.send(JSON.stringify({ direction: dir }))
  }
</script>
<style>
  main#content {
      text-align: center;
  }
  button {
      font-size: 350%;
      width: 3.5em
  }
</style>

<button onclick="send('n')">Up</button>
<br>
<button onclick="send('w')">Left</button>
<button onclick="send('e')">Right</button>
<br>
<button onclick="send('s')">Down</button>


{% endblock %}
