<!DOCTYPE html>
<html lang="en">
<head>
  {# Load the tag library #}
  {% load bootstrap5 %}

  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block head %}{% endblock %}

  <title>{% block title %}Leddie{% endblock %}</title>
</head>

<body>
  <div id="wrapper" class="container-sm">

    <nav class="navbar navbar-expand navbar-light bg-light sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" style="color: #dc3545; font-weight: bold;" href="/">Leddie</a>
      </div>
    </nav>


    <main id="content">
      {% block content %}{% endblock %}
    </main>
  </div>
</body>
</html>
