{% extends "base_public.html" %}


{% block content %}

<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Under construction</h4>
    <hr>
    <p>
      This page is under construction. In a few days, you will be able
      to suggest messages to show on the window here.
    </p>
</div>

<div class="card mb-3">
  <div class="card-header">
    <b>Admin</b>
  </div>
  <div class="card-body">
    <a href="{% url 'index_admin' %}">
      If you have a leddie.nl account, you can go to the admin site.
    </a>
  </div>
</div>


{% endblock %}
